/temp
/lib
/ext
/build
/deploy
/keystore
/*.zip
/gitblit.properties
/users.properties
/site
/git
/target
/build.properties
/war
/*.war
/proposals
/*.jar
/federation.properties
/mailtest.properties
*.swp
*.un~
