/temp
/lib
/ext
/build
/deploy
/keystore
/*.zip
/gitblit.properties
/users.properties
/site
/git
/target
/build.properties
/war
/*.war
/proposals
/*.jar
/federation.properties
/mailtest.properties

# Vim
*.swp
*.un~

# IntelliJ IDEA
.idea
*.iml
*.iws
*.ipr
